<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <p class="text-success">Top two items from this list will be eligible for next snacks polling</p>
        <ul class="list-group">
            <li class="list-group-item col-md-4" data-ng-repeat="option in nextDayOptionList" data-ng-class="{ 'bg-selected' : option.nextvoteoption == option.optionid}">
                <div class="text-success">
                    {{option.optionName}}
                </div>
                <span class="badge">{{option.optionVoteCount}}</span>
                <button class="btn btn-default" data-ng-class="{ 'invisible' : option.nextvoteoption == option.optionid}" type="button" ng-click="confirmSelection($event)" data-optionval="{{option.optionid}}"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;I want this</button>
                <p data-ng-class="{ 'show' : option.nextvoteoption == option.optionid, 'invisible' : option.nextvoteoption != option.optionid }" >You opted for this item for next day options</p>
            </li>
        </ul>
    </div>
</div>