/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Aug, 2014, 10:55:42 AM
    Author     : venera
*/
table.Login{
	padding: 15px 15px;
}
table.td.Login{
	padding: 2px 2px;
}

#welcomeHead{
	position: relative;
	width: 100%;
	height: 8%;
	color: #FFB700;
	text-align: center;
	font-size: xx-large;
	padding-top: 6%;
	background: none repeat scroll 0% 0% #F5F5DC;
}

#LoginForm{
	position: relative;
    margin-top: 150px;
}

fieldset{
border: 1px solid #eee;
width: 400px;
}

#Status{
font-family: Arial;
float: left;
height: 30px;
width: 100%;
position: relative;
top: 0px;
color: #F00;
}