.JqxMenus{
	position: relative;
	top: 0%;
	margin:auto;
	font-size:13px !important;
}

#manageUsersMenu{
	position: absolute;
	top: 5.5%;
	left: 0%;
}

#editUserTable{
	margin-left: 10%;
	margin-top: 5%;
	width: 80%;
}
#changeStatusButton{
	position: absolute;
	top: 70%;
	left: 45%;
}
#subsType{
	position: absolute;
	top: 5.5%;
	left: 0%;
}
#PriceDiv{
	position: absolute;
	top: 85%;
	left: 25%;
}
#cartPanel{
	position: absolute;
	top: 5.5%;
	left: 75%;
}
#AddTOCartButton{
	position: absolute;
	top: 90%;
	left: 25%;
}
#userList{
	
}
#userListPanel{
	position: absolute;
	top: 8%;
	left: 2%;
	width: 20%;
	height: 98%;
}
#subscriptionPanel{
	position: absolute;
	top: 8%;
	left: 25%;
	width: 70%;
	height: 60%;
}
#subsoptions{
	position: absolute;
	top: 0%;
	left: 35%;	
}
#FeaturesTable{
	width: 100%;
}
#PackageTable{
	width: 100%;
}
fieldset{
	border-color: black;
	width: 95%;
}
#ppufeaturesdiv{
	position: relative;
	top: 8%;
	left: 3%;
	width: 90%;
}
#packages{
	position: absolute;
	top: 55%;
	left: 10%;
	width:75%;
}
#DetailsMonthly{
	width: 90%;
	position: absolute;
	top: 10%;
	left: 3%;
}
#addToCart{
	position: absolute;
	top: 60%;
	left: 35%;
}
#cartDiv{
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
}
#payment{
	position: absolute;
	top: 50%;
	left: 10%;
	width: 75%;
}
#profileName{
position: relative;
}

#profileDetails{
position: relative;
top: 10px;
left: 0px;
right: 0px;
height: 520px;
width: 100%;
overflow:auto;
max-height:85%
}
#SMTPdiv{
	position: relative;
	margin-top: 5px; 
}
#myUserTable{
position: relative;
top: 0%;
left: 0%;
padding: 0;
width: 98%;
}
.column_MyTable{
	font-size: 12px;
	text-align: left;
}

.column_editButton{
	text-align: center;
	font-size: 12px;
}

.column_status{
	text-align: center;
	font-size: 12px;
}
.dynamicCheckBox{
	float: left;
}
.baseFeatureCheVoucherTabckBox{
	float: left;
}
#personalInfoDiv{
position: relative;
width: 98%;
height:100%;
}

.detailsTable{
	font-size: small;
	padding: 10px;
}

.detailsTable td{
	padding: 10px;
	border-bottom: 1px solid #eee;
}
#SubscriptionInfoDiv{
position: relative;
left: 1%;
top: 0.5%;
width: 67%;
height: 98%;
}

.monthlyFeatures{
	align: center;
	display: none;
}
.jqx-dropdownlist-content{
	outline: none;
border: none;
float: left;
position: relative;
width: 80px;
height: 25px;
left: 0px;
top: 0px;
margin-top: 2px;
margin-bottom: 2px;
background-color: transparent;
}

.row_MyTable{
	height: 25px;
}
#CreditGenerationOption{
/*position: relative;
top: 0%;
left: 1%;
width: 98%;
height: 85%;
*/}
#creditAmountInfoDiv{
	position:relative;
	left:40%;
}
#monthlyfeaturesdiv{
	position: relative;
	top: 8%;
	left: 3%;
	width: 90%;
}

#accountTabMenu{
	position: relative;
	top: 1%;
	left: 1%;
}
#accountTabMenu li{
	width: 175px;
	height: 30px;
}
#SubsTypeAndCreditInfo{
float: left;
position: relative;
top: 0.5%;
left: 0.5%;
height: 99.5%;
width: 99%;
}
#SelfSubscription{
float: left;
position: relative;
top: 0.5%;
left: 0.5%;
height: 99%;
width: 99%;
}

.extra_Values{
	visibility: hidden;
}

.SubHeadingDiv{
	margin-top: 20px;
	margin-left: 50px;
}

.imageButton:hover{
	width:24px; height:20px;
    border:inset 1px grey;
    border-radius:3px;  box-shadow: 5px 8px 7px #888888;
    transition-property:width,height;
    transition-duration:200ms;
                           }
.imageButton{width:15px; height:15px;}
 
.column1_MyTable{
	font-size: 12px;
	font-family: Arial;
}

hr {
	margin:0;
}
#supportSeekingForm{
	width: 800px;
	margin-top: 20px;
	margin-left: 40px;
}
#supportSubmitStatus{
	display:none;
	padding:10px;
	width: 500px;
//	height: 300px;
//	background-color: #eee;
//	max-height: 350px;
//	overflow-y: scroll;
	margin-top: 20px;
	margin-left: 40px;
	text-align:justify;
}

#postSupportActions{
	display:none;
	margin-left: 40px;
	margin-top: 15px;
	max-width: 500px;
}

.Enforce_font_x14 {
	font-size:14px !important;
	font-family:Arial !important;
	font-weight:100 !important;
}

.Enforce_font_x13 {
	font-size:13px !important;
	font-family:Arial !important;
	font-weight:100 !important;
}

Table.tableBorder1 {
	font-size: 12px;
	font-family: Arial;
}